<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sismont Processos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")

</head>
<body>
    <header class="header">
        <button data-target=".sidebar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fa fa-bars"></i></button>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="header-logo"><img src="~/img/logo.svg"></div>

                <div class="header-company">
                    <strong>02.131.770/0001-07</strong><br>PARABÉNS VOCE SERA NOSSO PROXIMO CLIENTE&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsppmatriz<br>MAR/2014
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <ul class="nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="label label-danger">3</span>  <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="label label-danger">5</span> <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="label label-danger">6</span> <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <section class="page-wrapper">

        <nav class="navbar-default page-nav" role="navigation">
            <div class="sidebar-collapse">
                <div class="sidebar-search">
                    <input type="text" id="input-search" class="form-control" placeholder="Search...">
                </div>

                <ul class="nav" id="side-menu">

                    <li><a href="~/Home"><i class="fa fa-dashboard fa-fw"></i> Home</a></li>
                    <li>
                        <a href="#"><i class="fa fa-star"></i> Favoritos<span class="fa arrow"></span></a>
                        <ul id="bookmark" class="nav nav-second-level"></ul>
                    </li>

                    <li><a href="~/Requisicao"><i class="fa fa-dashboard fa-arrow-circle-down"></i> Requisição</a></li>

                    <li><a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a></li>

                    <li><a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a></li>

                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Documentos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="panels-wells.html">Contábil</a></li>
                            <li><a href="buttons.html">Fiscal</a></li>
                            <li><a href="buttons.html">Financeiro</a></li>
                            <li><a href="notifications.html">Folha</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#">Second Level Item</a></li>
                            <li><a href="#">Second Level Item</a></li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="#">Third Level Item</a></li>
                                    <li><a href="#">Third Level Item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="forms.html"><i class="fa fa-wrench fa-fw"></i> Alterar Senha</a></li>
                </ul>
            </div>
        </nav>

        <div class="page-content">
            @RenderBody()
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryplugin")
    @Scripts.Render("~/scripts/ng-grid.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tema")
    @RenderSection("scripts", required: false)
</body>
</html>
